body{
	
	margin: 0;
	background-color: LightGray;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	letter-spacing: 0.03em;
}

ol, ul{
	list-style: none;
}

.content{
	padding: 0 0.938rem;
	margin: 0 auto;
	min-width: 37.5rem;
}
.top-navigation {
	background-color: #fff;
}
.top-navigation > .content
{
	background-color: #fff;
	position: fixed;
	width: 100%;
	z-index: 9999;
	height: 70px;
	height: 70px;
	}
	.top-navigation .logo {
	padding: 0 16rem;
}
.top-navigation .links {
    float: right;
    padding: 0 5.01rem;
	color: #838994;
    font-size: 1.04rem;
    margin-top: 1.7rem;
    -webkit-font-smoothing: antialiased;
}
.top-navigation .links li{
	display: inline-block;
	margin-left: 1.563rem;

}
.top-navigation .links .active {
    color: #4c5058;
    font-weight: 500;
}
.top-navigation .links li:hover {
cursor: pointer;
color: #333333;
}


.introduction{
	background-image: url('file://Users/ryanjohnson/projects/startup-landing-page-clone/css/first-background.jpg');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 45.938rem;
    overflow: auto;
}

.introduction h1, .introduction h3 
{
	text-align: center;
	color: white;
	font-weight: 300;
}

.introduction h1{
	margin-top: 12.5rem;
	font-size: 3.125rem;
	margin-bottom: 0rem;
}

.introduction h3{
	margin-top: 1em;
    font-size: 1.563rem;

}
.introduction .buttons{
	 color: white;
    text-align: center;
    margin-top: 1.563rem;

}

button {
	width: 9.688rem;
    background-color: #f15a29;
    border-color: #f15a29;
    text-shadow: none;
    border-style: none;
    border-radius: 4px;
    padding: 1rem 1.5rem;
    color: white;
    font-size: 1.125rem;

}

button:hover{
	background-color: #d9400e;
	border-color: #cf3d0e;
	cursor: pointer;
}

.cases{
	background-color: #fff;
    overflow: hidden;
    padding-bottom: 5rem;
}

.cases .content {
	margin-top: 7.875rem;
    padding: none;
    color: #1d1e21;
    text-align: center;
}

.cases h2 {
    font-size: 2.75rem;
    margin: 1.625rem 0 3.125rem;
    font-weight: 300;
}

.cases .devices li {
    width: 33.3333333%;
    float:left;
}
.cases .devices h3 {
    font-weight: 400;
    font-size: 1.563rem;
    margin: 2.5rem 0px 1.875rem;
}
.social{
	background-color: #fff;
    overflow: auto;
    padding-bottom: 9.375rem;
    text-align: center;
}
.social hr{
	border: 0;
    border-top: 1px solid #eaebec;
    margin: 1.313rem 0;
}
.social .icons > li {
	border-radius: 1.5rem;
    width: 2.2rem;
    height: 1rem;
    display: inline-block;
    margin: 0.1rem 3px;
    border: 1px solid #eaebec;
    padding: 0.625rem 0;
    text-align: center;
}
.social .icons > li:hover {
    cursor: pointer;
}
.social .twitter {
    color: #55acee;
}
.social .facebook {
    color: #4c66a4;
}
.social .instagram {
    color: #3f729b;
}
.social .copy {
    font-size: 0.9rem;
    font-weight: 300;
    color: #838994;
}
.social .content h5{
	font-weight: 500;
	padding:0;
}

